body {color:green; background-color:#B8E8FC;
}
img{ float:left; height: 300px; width: 300px;  border: 10px red groove; margin-right:100px; margin-left:65px; margin-top:50px;}
h1{ color:#372948;text-align: center; margin-top:150px; font-family:Gothic}

.txt { color:#C147E9;}
a {text-align:center;}
