<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static "css/css.css"%}">
</head>
<body>
<h1 align="center">Welcome to RAHUL'S News Portal</h1><br>

<a href="movie/" class="txt" ><h3 align="center">1.Movies Information</h3></a><br>
<a href="sports/" class="txt"><h3 align="center"> 2.Sports Information</h3></a><br>
<a href="politics/" class="txt"><h3 align="center">3.Politics Information</h3></a>

</body>
</html>